bin/
.settings/
.metadata
*.class
.project
.classpath
*~
src/compiler/ParseException.java
src/compiler/SimpleCharStream.java
src/compiler/Token.java
src/compiler/TokenMgrError.java
src/compiler/Yaka.java
src/compiler/YakaConstants.java
src/compiler/YakaTokenManager.java
*.asm
*.yvm
